$color_1: #155724;
$color_2: #0c5460;
$color_3: #721c24;
$color_4: #fff;
$color_5: #212529;
$background-color_1: lightcyan;
$background-color_2: #d4edda;
$background-color_3: #d1ecf1;
$background-color_4: #f8d7da;
$background-color_5: green;
$background-color_6: transparent;
$background-color_7: #007bff;
$background-color_8: #dc3545;
$border-color_1: #c3e6cb;
$border-color_2: #bee5eb;
$border-color_3: #f5c6cb;
$border-color_4: #007bff;
$border-color_5: #dc3545;
.container {
    background-color: $background-color_1;
    padding: 1.5rem;
    width: 1000px;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    margin-top:20px;
    border-radius: 10px;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-success {
    color: $color_1;
    background-color: $background-color_2;
    border-color: $border-color_1;
}
.alert-info {
    color: $color_2;
    background-color: $background-color_3;
    border-color: $border-color_2;
}
.alert-danger {
    color: $color_3;
    background-color: $background-color_4;
    border-color: $border-color_3;
}
.form-group {
    label {
        margin-bottom: .5rem;
    }
    input {
        margin-bottom: .5rem;
    }
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.btn.btn-success {
    background-color: $background-color_5;
    color: $color_4;
    padding: .5rem 2rem;
    border: none;
    border-radius: .5rem;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: $color_5;
    border-collapse: collapse;
    thead {
        th {
            vertical-align: bottom;
            border-bottom: 2px solid #333;
            text-align: left;
        }
    }
    td {
        padding: 0.75rem;
        vertical-align: top;
    }
    th {
        padding: 0.75rem;
        vertical-align: top;
    }
}
.table-bordered {
    thead {
        td {
            border-bottom-width: 2px;
        }
        th {
            border-bottom-width: 2px;
        }
    }
    td {
        border: 1px solid #333;
    }
    th {
        border: 1px solid #333;
    }
}
@mixin button-props{
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: .8rem;
}
.btn {
    @include button-props;
    display: inline-block;
    font-weight: 400;
    color: $color_5;
     background-color: $background-color_6;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
}
.btn-primary {
    color: $color_4;
    background-color: $background-color_7;
    border-color: $border-color_4;
}
.btn-danger {
    color: $color_4;
    background-color: $background-color_8;
    border-color: $border-color_5;
}
.mr-1 {
    margin-right: 1rem;
}
input {
    padding: 0.5rem;
}